
@{
    ViewBag.Title = "About";
}
<fieldset style="align-content: center">
    <img style="display: block;
margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 20%;" src="~/Content/Images/robinWilliams.jpg" />
    <div class="aboutPageContent" style="text-align: center">
        <h3>Mission Statement</h3>
        <p>
            Our mission is to provide the world with fine instruments and help each person find the rhythm of their heart
        </p>
        <h3>History</h3>
        <p>
            Our company started with an idea. In 1976 Robin Williams (famous actor), Decided he wanted to bring the world a new
            type of instrument rental shop. One with not only finely tuned and classy instruments, but also a shop that could
            change one's view of themselves. He wanted to inspire America's youth to expect more from themselves. Well, it's
            been over 43 years running and Robin has inspired over 2,500,000 kids to play instruments. Robin loved the saxophone
            and took that love to create this family-centered company.
        </p>
    </div>
</fieldset>
